<!DOCTYPE html>
<html>
<head>
  <title>ArHomework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#<header>%>
    <%#<div class="logo">NestedAuthPry</div>%>
    <%#<div class="login">Username email</div>%>
  <%#</header>%>
  <%= yield %>

</body>
</html>
